html {
    position: relative;
    min-height: 100%;
  }

.greenBackground_OVERRIDE {
    background-color: forestgreen !important;
}

body {
    margin: 0;
    background-image: url('../images/todoTable.jpg');
    background-repeat: repeat-y;
    background-color: #C09891;
    background-attachment: fixed;
    background-position: center;
    background-size: relative;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    margin-bottom: 60px;
}

main {
    width: 70%;
    margin: auto;
    text-align: center;
}

input {
    width: 40%;
    margin-bottom: 1em;
}

header {
    text-align: center;
    padding: 1.3em;
}

th {
    background-color: #2A0800;
    color: #F4DBD8;
}

tr:nth-child(odd) {
    background-color: #F4DBD8;
    color: #2A0800;
}

tr:nth-child(even) {
    background-color: #BEA8A7;
    color: #2A0800;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #2A0800;
    text-align: right;
    color: #F4DBD8;
  }